@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: rgb(228, 228, 228);
  font-family: system-ui;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
