@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #ffdde1;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
